  <h1>All Transactions</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Type</th>
        <th>Comment</th>
        <th>From</th>
        <th>To</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
          <td><%= transaction.tag %></td>
          <td><%= transaction.comment %></td>
          <td><%= transaction.user.first_name + ' ' + transaction.user.last_name %></td>
          <td><%= transaction.recipient.first_name + ' ' + transaction.recipient.last_name %></td>
          <td><%= link_to 'Show', transaction %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <%= link_to 'New Transaction', new_transaction_path %>
</button>

<% end %>
